
<div id= "ask"><p>You: <%=@question%></p> <br></div>
<div id= "answer"><p>Coach: <%=@answer%></p> <br></div>
<%= link_to "Ask another question", ask_path %>

<style>
a{
  text-decoration: none;
}
</style>
